- fileImporter.importCss(['/stylesheets/footer.styl']);
footer#footer.tac.margin10
  p 
    span.borderRight.pright10 爬爬衣橱 &copy; 2013 - #{new Date().getFullYear()}
    span.pleft10.pright10.borderRight 大树工作室
    span.pleft10 粤ICP备13011220