!!!5
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='keywords', content='javascript,node.js,WEB前端,jQuery,node')
    meta(name='description', content='')
    meta(name='author',content='小墨鱼 vicanso 腻味 tree')
    title= title
    //- link(rel='icon', href='/blog/images/favicon.png', type='image/x-icon')
    //CSS_FILES_CONTAINER
    //if lt IE 9
      script(src='/javascripts/utils/html5shiv.min.js', type='text/javascript')
    - fileImporter.importCss(['/stylesheets/global.styl', '/stylesheets/ui.styl', '/bootstrap/css/bootstrap.css', '/datepicker/css/datepicker.css']);
    - fileImporter.importJs(['/javascripts/jquery/jquery-1.10.2.js', '/bootstrap/js/bootstrap.js', '/datepicker/js/bootstrap-datepicker.js', '/highcharts/highcharts.js', '/highcharts/modules/exporting.js', '/javascripts/utils/async.js', '/javascripts/utils/underscore.js']);
  body
    block bodyContainer
    include ./footer
  //JS_FILES_CONTAINER
