!!!5
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords', content='javascript,node.js,WEB前端,jQuery,node')
    meta(name='description', content='主要一些介绍node.js和web前端的技术blog，还包括其它一些server的软件')
    meta(name='author',content='小墨鱼 vicanso 腻味 tree')
    title= title
    //- link(rel='icon', href='/blog/images/favicon.png', type='image/x-icon')
    include ../statics/javascripts/inline.js
    //CSS_FILES_CONTAINER
    - fileImporter.importCss(['/stylesheets/global.styl', '/stylesheets/ui.styl', '/stylesheets/mobile_ui.styl']);
    - fileImporter.importJs(['http://libs.baidu.com/jquery/2.0.3/jquery.min.js', '/javascripts/utils/underscore.js', '/javascripts/utils/async.js']);
  body
    block bodyContainer
  script.
    window.TIME_LINE.timeEnd('html');
    window.TIME_LINE.time('loadjs');
  //JS_FILES_CONTAINER
