#contentContainer
  padding 40px 80px
  height 50px
  .monitorViewOption
    float left
    margin-right 40px
  .projectsSelect .dropdown-toggle
    width 100px
  .typeSelect
    width 300px
  .datePicker
    width 100px
#chartList
  .chart, .tableContainer
    margin-bottom 30px

  .tableView
    height 300px
    overflow scroll
    table
      table-layout fixed
      td
        overflow hidden
